@model IEnumerable<truYumClient.Models.Movies>

@{
    ViewData["Title"] = "GetCartItems";
}

<h1>Your Cart Items</h1>
<h1> Your Total Price is :  @ViewBag.Price </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfLaunch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasTeaser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfLaunch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HasTeaser)
                </td>
                <td>
                    <a class="btn btn-danger" href="@Url.Action("DeleteItem","Cart",new { id = item.MovieId,id2=item.MovieId })">Remove Fron the cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-dark" asp-action="Index" asp-controller="Movies">Add More Items To your cart</a>
<a class="btn btn-dark" asp-action="PlaceOrder" asp-controller="cart">Place your Order</a>

